.container{
    margin-top:0px !important;
    margin-bottom:0px !important;
	overflow:hidden !important;
    max-width:100% !important;
}

.content_wrapper{
}
.pane{
    /*margin-left:212px;
    margin-right:212px;
    width:942px;
   	float:left;*/
}

.media_list{
    list-style:none;
}

.media_element{
}

.media_image{
}

.edit_image{
	height: 30px;
	float:right;
	cursor:pointer;
}

.modal{
	bottom:auto;
}